<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Courses</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 mt-5">
                <div class="jumbotron">
                    <h1>Online Courses</h1>
                    <p class="text-secondary">Python Django CBV project for online courses</p>
                    <hr>
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>